<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.pregnancy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/just_mother_round"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:roundIcon="@mipmap/just_mother_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ScanLabsBooking">
        </activity>
        <activity android:name=".ScansDetails">
        </activity>
        <activity android:name=".TestDetails">
        </activity>
        <activity android:name=".Pregnancy_Articles">
        </activity>
        <activity android:name=".pregnanacy_articles">
        </activity>

        <meta-data
                android:name="android.max_aspect"
                android:value="2.1"/>

        <activity
                android:name=".scans"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".tests"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".packages"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>